@import "compass";
@import "../layoutVariables";
@import "../layoutMixins";

// Config layout setup


*,
*:before,
*:after {
  webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.wrapper {
	padding:0 $defaultHorizontalPadding + px;
        margin:0 auto;
	.row {
          ;
	}
	.col {
		@include clearfix;
		padding:$defaultVerticalPadding + px $defaultHorizontalPadding + px;
	}
  @include layoutNestedRows
}
