@import "layoutVariables";
//@import "layoutFunctions";
@import "layoutConfig";
// 768 992 1200
// wrapper > row > col md-#

@mixin defaultSmallLayout{
	.wrapper{
		padding:$defaultHorizontalPadding + px $defaultVerticalPadding + px;
	}
}

//Use border box.
//Use the polyfill behavior file for IE7.
//These worked for IE6 issues too.
//The goal here is to make a modern framework, not agonize over attempting perfection of a past model.
@mixin layoutColumnGen {
    $i: 1;
    @while $i <= $layoutColumnCount {
        .md-#{$i}{
          width:percentage($i/$layoutColumnCount);
        }
        $i: $i + 1;
    }
}

@mixin layoutOffsetUnits {
    @if $layoutOffsetUnits == true{
      $i: 1;
      @while $i <= $layoutColumnCount {
          .md-offset-#{$i}{
            margin-left:percentage($i/$layoutColumnCount);
        }
        $i: $i + 1;
    }
  }
}

@mixin layoutNestedRows{
   @if $layoutNestedRows == true{
     .row .row{
    margin-bottom:0;
   }
   .col .col{
    padding:0;
    }
  }
}
