
// Spacing

$defaultHorizontalPadding:15 !default;
$defaultVerticalPadding:10 !default;

// MEDIA QUERY MIN BREAKS

$smallDefaultMajor:768 !default;
$mediumDefaultMajor:992 !default;
$largeDefaultMajor:1200 !default;