@import "partials/base";
@import "partials/layout";


body{
	background:none red;
}

.gridBasicDemo {
	.row{
	margin-bottom:10px;
	}
	.col{
		background:none #fff;
	}
}

//LAYOUT HELPER - DEV ONLY
.col:nth-child(odd) {
  background: none #ccc;
}

